/* Base styles (extra small devices - mobile) */
html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto mono", sans-serif;
  font-size: 1em;
  color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #222222;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #3882F6;
}

a:hover,
a:focus {
  color: #1D4ED8;
  /* Cuando usamos ":hover", hacemos que los links que estemos por presionar con el ratón por encima cambien de color */
}

#navbar {
  padding: 8px;
  margin: 0;
}

#logo-with-text {
  display: none;
}

#banner {
  object-fit: cover;
  /* Con "objet-fit: cover;" nos aseguramos que que el objeto dependiendo del width que se asigne, abarque todo el espacio */
  height: 120px;
  width: 100%;
}

h1 {
  text-align: center;
  margin: 12px 0;
}

#about {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 8px;
}

#description {
  padding-right: 8px;
  font-size: 1.5rem;
}

#team {
  width: 100%;
}

#team-image {
  border-radius: 5px;
  width: 100%;
}

h2 {
  text-align: center;
}

#jobs {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 8px;
}

#jobs-list {
  display: block;
}

#jobs-table {
  display: none;
}

.job {
  border: 1px solid #dddddd;
  margin-top: 8px;
  border-radius: 5px;
  padding: 8px;
}

.job-title {
  font-size: 1.25rem;
  font-weight: 500;
  color: #222222;
}

.job-detail {
  color: #777777;
  margin-top: 2px;
}

/* Small devices (tablets) */
@media screen and (min-width: 576px) {

  /* Cuando querramos modificar una caraceristica del sitio web, especificamente para pantallas o para imprimir o hacer pdf, escribimos "@media", luego "screen" para indicar que los cambios se realizan cuando la web se vea desde una pantalla, luego "and (min-width: la cantidad minima de px para que los cambios se realicen)", podemos agregar más de una condición repitiendo el mismo paso desde "and" y volviendo a especificar las caracteristicas que queremos, luego debajo de eso seleccionamos lo que querramos cambiar y lo especificamos. */
  html {
    font-size: 16px;
  }

  #logo-with-text {
    display: block;
  }

  #logo {
    display: none;
  }

  #baner {
    height: 200px;
  }

  h1 {
    margin: 16px
  }
}

/* Medium devices (laptops) */
@media screen and (min-width: 768px) {
  #baner {
    height: 250px;
  }

  h1 {
    margin: 20px 0;
  }

  #about {
    max-width: 800px;
    flex-direction: row;
  }

  #description {
    width: 50%;
    padding-right: 8px;
  }

  #team {
    width: 50%;
  }

  #jobs {
    min-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
  }

  #jobs-list {
    display: none;
  }

  #jobs-table {
    display: table;
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
    /* "display: table;" permite que table tome todo el width de la pantalla en la mayoria de pantallas */
  }

  .jobs-header-row th {
    border: 1px solid gray;
    padding: 8px;
    background-color: rgb(255, 196, 196);
    text-align: center;
  }

  .jobs-data-row td {
    border: 1px solid gray;
    padding: 8px;
  }
  
  #jobs-table tr:nth-child(odd) {
    background-color: rgb(255, 229, 229);
    /* Con ":nth-child()", podemos personalizar el estilo de celdas que querramos, ya sea el patrón o el color de las celdas */
  }
}

/* Large devices (desktops) */
@media screen and (min-width: 992px) {
  /* CSS rules */
}

/* Extra large devices (desktops) */
@media screen and (min-width: 1200px) {
  #baner {
    height: 300px;
  }
}


/* 
.location {
  color: gray;
  margin-bottom: 16px;
}


#application{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 8px;
}

#application-form div{
  margin: 8px;
}

#application-form label{
  font-weight: 600;
}

#application-form input, select{
  padding: 4px;
  font-size: 1.25rem;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid gray;
}

.form-group textarea{
  width: 80%;
  font-family: "Roboto", sans-serif;
}

.form-group input [type="checkbox"] {
  width: 16 px;
  height: 16 px;
}

#Submit {
  background-color: rgb(250, 122, 122);
  color: white;
  font-weight: 500;
  padding: 16px 16px 16px 16px;
  cursor: pointer;
}

h3 {
  margin-bottom: 4px;
  margin-top: 0;
}

.apply {
  float: right;
}

#footer {
  background-color: ghostwhite;
  padding: 8px;
  margin-top: 32px;
  text-align: center;
}

#footer-links {
  list-style: none;
}

#footer-links li {
  display: inline;
  margin: 0 16px;
}

.copyright {
  color: gray;
}


*/